<div class="container" *ngIf="isAuth">
  <a routerLink="/product/new" class="btn btn-dark float-left text-uppercase m-2">
    Ajouter un produit
  </a>
  <button class="btn btn-dark float-right text-uppercase m-2" (click)="onSignOut()">
    Déconnexion
  </button>
  <a [routerLink]="profilUrl" class="btn btn-dark float-right text-uppercase m-2">
    Mon profil
  </a>
</div>
<div class="container">
  <div class="text-center">
    <button class="btn btn-dark m-2" (click)="onSwitchAllProductsStatus('en stock')">Tout en stock</button>
    <button class="btn btn-outline-dark m-2" (click)="onSwitchAllProductsStatus('pas en stock')">Rien en stock</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">État</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        app-table-rows
        *ngFor="let product of products"
        [id]="product.id"
        [name]="product.name"
        [status]="product.status">
      </tr>
    </tbody>
  </table>
</div>
