<th scope="row"> {{id}} </th>
<td>{{name}}</td>
<td>
  <div
    class="badge"
    [ngClass]="{'badge-success': status === 'en stock', 'badge-danger': status === 'pas en stock'}">
    {{status}}
  </div>
</td>
<td>
  <button
    class="btn"
    [ngClass]="{'btn-outline-dark': status === 'en stock', 'btn-dark': status === 'pas en stock'}"
    (click)="onSwitchProductStatus(nextStatus, id)">
    {{action}}
  </button>
  <a [routerLink]="detailsUrl" class="text-white text-decoration-none btn btn-success m-2">
    Détails
  </a>
</td>
